html {
  scroll-behavior: smooth;
}

body {
  max-width: 100%;
  background-color: #212121;
  font-size: 16px; 
  line-height: 16px;
  font-family: Montserrat, Roboto, sans-serif;
  padding: 15px;
  margin: 0 auto;
  overflow-x: hidden;
  color: var(--text);
  font-weight: 500;
  padding-bottom: 20px;
}

#root {
  min-height: 95vh;
    display: flex;
    flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

input{
  border: none;
  background: none;
  outline: none;
  color: var(--text);
  font-size: 16px;
  font-family: Montserrat, Roboto, sans-serif;
}

a {
  color: var(--text);
  text-decoration: none;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.app {
  width: 100%;
  max-width: 1274px;
  margin: 0 auto;
}

section {
  background: var(--bg);
  border-radius: 6px;
  padding: 30px;
}

h2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield; 
}

@media (max-width: 768px) {
  body {
      font-size: 14px;
      line-height: 20px;
  }

  .app {
      width: 100%;
      padding: 10px;
  }

  h1, h2, h3, h4, h5, h6 {
      font-size: 18px;
  }

  section {
      padding: 20px;
  }

}

@media (max-width: 480px) {
  body {
      font-size: 12px;
  }

  .app {
      width: 100%;
      padding: 5px;
  }

  section {
      padding: 15px;
  }


  .preloader {
      padding: 16px;
  }
}
