.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg);
    margin-bottom: 20px;
}

nav {
    display: flex;
    align-items: center;
}

.userContainer{
    display: flex;
    align-items: center;
}

.title {
    color: var(--accent);
    cursor: default;
    font-weight: 600;
    font-size: 28px;
}

.link {
    margin-right: 10px;
    transition: 0.2s ease-in-out;
    font-weight: 600;
    border-bottom: 1px solid transparent;
}

.link:hover {
    color: var(--accent);
    border-bottom-color: var(--accent)
}

.themeCheckbox {
    margin-right: 10px;
    --toggle-size: 8px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 6.25em;
    height: 3.125em;
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #efefef), color-stop(50%, #2a2a2a)) no-repeat;
    background: -o-linear-gradient(left, #efefef 50%, #2a2a2a 50%) no-repeat;
    background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
    background-size: 205%;
    background-position: 0;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    border-radius: 99em;
    border: 1px solid #2121215c;
    position: relative;
    cursor: pointer;
    font-size: var(--toggle-size);
  }
  
  .themeCheckbox::before {
    content: "";
    width: 2.25em;
    height: 2.25em;
    position: absolute;
    top: 0.4em;
    left: 0.5em;
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #efefef), color-stop(50%, #2a2a2a)) no-repeat;
    background: -o-linear-gradient(left, #efefef 50%, #2a2a2a 50%) no-repeat;
    background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
    background-size: 205%;
    background-position: 100%;
    border-radius: 50%;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }
  
  .themeCheckbox:checked::before {
    left: calc(100% - 2.25em - 0.438em);
    background-position: 0;
  }
  
  .themeCheckbox:checked {
    background-position: 100%;
  }

@media (max-width: 480px) {
    .container {
        flex-wrap: wrap;
    }

    .title {
        margin-bottom: 20px;
        font-size: 24px;
    }

    nav {
        display: flex;
        flex-direction: column;
        font-size: 16px;
    }

    .link {
        margin-bottom: 10px;
    }
    
}