.title {
    padding: 30px;
    border-bottom: 2px solid var(--second-bg);
    font-size: 28px;
    margin-bottom: 60px;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.btnWrapper {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 20px;
}

.repairInfoTable tbody td {
    padding-top: 10px;
    padding-bottom: 10px;
}

.repairInfoTable tbody a {
    color: var(--second-bg);
    transition: all 0.3s ease;
}

.repairInfoTable tbody a:hover {
    color: var(--accent);
}

.repairOrdersTables th {
    cursor: pointer;
    user-select: none;
}

.repairOrdersTables th:hover {
    color: var(--accent);
}

.highlightRow {
    animation: highlightFade 2.5s ease-in-out;
    outline: 3px solid #ff9800;
  }
  
  @keyframes highlightFade {
    0% {
      background-color: #ffe0b2;
    }
    100% {
      background-color: transparent;
    }
  }