.title {
    padding: 30px;
    border-bottom: 2px solid #212121;
    font-size: 28px;
    margin-bottom: 60px;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.input{
    border: 1px solid var(--text);
    border-radius: 4px;
    width: 40vw;
    font-size: 16px;
    font-weight: 500;
    color: var(--bg);
    background-color: #fff;
    padding: 10px;
    margin-bottom: 5px;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}

 .input:active,  .input:hover {
    transform: scale(0.95);
  }

  .button {
    cursor: pointer;
    position: relative;
    padding: 10px 24px;
    font-size: 18px;
    color: var(--accent);
    border: 2px solid var(--accent);
    border-radius: 34px;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
  }
  
  .button::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 80px;
    height: 80px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: var(--accent);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .button:hover::before {
    scale: 3;
  }
  
  .button:hover {
    scale: 1.1;
    color: var(--text);
    box-shadow: 0 0px 12px rgba(193, 163, 98,0.4);
  }
  
  .button:active {
    scale: 1;
  }