.title {
    margin-bottom: 60px;
    padding: 30px;
    border-bottom: 2px solid #212121;
    font-size: 28px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 60px;
}

.left, .right {
  flex-shrink: 0;
  width: 20vw;
}


.right {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.input{
    border: 1px solid var(--text);
    border-radius: 4px;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    color: var(--bg);
    background-color: #fff;
    padding: 10px;
    margin-bottom: 5px;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}

.wrapper {
    width: 20vw;
}

.wrapper button{
    width: 100%;
    margin-bottom: 5px;
    transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
}
  
  .formPanel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    opacity: 0;
  }
  
  .formPanel.visible {
    max-height: 1000px;
    opacity: 1;
  }

  .searchPanel {
    width: 100%;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.4s ease, opacity 0.4s ease;
  }
  
  .searchPanel.visible {
    max-height: 200px;
    opacity: 1;
  }

  .searchBtn {
    background-color: var(--bg);
    border-color: var(--accent);
    margin-bottom: 10px;
    width: 100%;
  }
  
  .group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
  }
  
  .searchInput {
    width: 95%;
    height: 45px;
    font-size: 14px;
    padding-left: 2.5rem;
    border: 0;
    border-radius: 12px;
    background-color: #212121;
    outline: none;
    color: #bdbecb;
    transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
    cursor: text;
    z-index: 0;
    margin-bottom: 10px;
  }
  
  .searchInput::placeholder {
    color: #bdbecb;
  }
  
  .searchInput:hover, .searchInput:focus  {
    width: 100%;
  }
  
  .searchInput:active, .input:active {
    transform: scale(0.95);
  }
  
  .searchIcon {
    position: absolute;
    left: 1rem;
    top: 1rem;
    fill: #bdbecb;
    width: 1.2rem;
    pointer-events: none;
    z-index: 1;
  }

  .searchSelect {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 0;
    border-radius: 12px;
    background-color: #212121;
    color: #bdbecb;
    transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  }

  .monthNavigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  .monthNavigation p {
    margin-bottom: 10px;
  }

  .monthNavigation div {
    width: 15vw;
    text-align: center;
  }

  .containerForDownloadBtn {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      align-items: stretch;
    }
  
    .input {
      width: 80%;
      font-size: 14px;
    }

    .wrapper{
      width: 100%;
    }

    .left, .right {
      width: 70vw;
    }
  
    .createBtn, .searchBtn {
      width: 100%;
    }
  
    .searchInput {
      width: 90%;
    }
  
    .searchSelect {
      width: 90%;
    }
  
    .group {
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
    }

    .formPanel {
      flex-direction: column;
      gap: 10px;
    }
    .input {
      width: 100%;
    }
  }
  
  @media (max-width: 480px) {
    .container {
      gap: 20px;
    }

    .left, .right {
      width: 50vw;
    }
  
    .input {
      width: 100%;
    }
  
    .button {
      font-size: 16px;
      padding: 8px 16px;
    }
  }