.title {
    margin-bottom: 60px;
    padding: 30px;
    border-bottom: 2px solid var(--second-bg);
    font-size: 28px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 60px;
}

.left, .right {
  flex-shrink: 0;
  width: 20vw;
}


.right {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.wrapper {
    width: 20vw;
}

.wrapper button{
    width: 100%;
    margin-bottom: 5px;
    transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
}
  
  .formPanel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    opacity: 0;
  }
  
  .formPanel.visible {
    max-height: 1000px;
    opacity: 1;
  }

  .searchPanel {
    width: 100%;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.4s ease, opacity 0.4s ease;
  }
  
  .searchPanel.visible {
    max-height: 200px;
    opacity: 1;
  }

  .searchBtn {
    background-color: var(--bg);
    border-color: var(--accent);
    margin-bottom: 10px;
    width: 100%;
  }
  
  .group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
  }
  
  .searchIcon {
    position: absolute;
    left: 1rem;
    top: 1rem;
    fill: #bdbecb;
    width: 1.2rem;
    pointer-events: none;
    z-index: 1;
  }

  .searchSelect {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 0;
    border-radius: 12px;
    background-color: var(--second-bg);
    color: #bdbecb;
    transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  }

  .monthNavigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  .monthNavigation p {
    margin-bottom: 10px;
  }

  .monthNavigation div {
    width: 15vw;
    text-align: center;
  }

  .containerForDownloadBtn {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  @media (max-width: 1024px) {
    .left, .right {
      width: 40vw;
    }

    .wrapper{
      width: 100%;
    }
  }
  
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      align-items: stretch;
    }

    .left, .right {
      width: 70vw;
    }

    .wrapper{
      width: 40vw;
    }
  
    .createBtn, .searchBtn {
      width: 100%;
    }
  
    .group {
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
    }

    .formPanel {
      flex-direction: column;
      gap: 10px;
    }
  }
  
  @media (max-width: 480px) {
    .container {
      gap: 20px;
    }

    .left, .right {
      width: 50vw;
    }
  }