table {
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

thead {
    height: 60px;
    background: #312f38;
}

tbody tr, tbody tr p {
    font-size: 14px;
    color: #505050;
    line-height: 1.2;
    font-weight: unset;
}

tr {
    height: 50px;
}

tbody tr:nth-child(even) {
    background-color: #acacac;
}

tbody tr td {
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.deleteBtn {
    background-color: #8a60d3;
}


.deleteBtn:hover {
    background-color: var(--accent);
}

.checkbox {
    width: 18px;
    height: 18px;
  }

.delivered {
    background-color: #e0d9ff;
  }
  
.late {
background-color: var(--warning-accent);
color: white;
}

@media (max-width: 768px) {
table {
    width: 100%;
    overflow-x: auto;
}
  
tbody tr td {
    padding: 5px;
    font-size: 12px;
}
  
th, td {
    min-width: 500px;
}
}