table {
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
    margin-bottom: 40px;
}

thead {
    height: 60px;
    background: #312f38;
}

thead th {
    font-size: 14px;
    padding: 10px;
    color: white; 
}

tbody tr, tbody tr p {
    font-size: 12px;
    color: #505050;
    line-height: 1.2;
    font-weight: unset;
}

tr {
    height: 50px;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

tbody tr.delivered {
    background-color: #e0d9ff;
}

tbody tr.late {
    background-color: var(--warning-accent);
    color: white;
}

tbody tr td {
    padding: 10px;
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
}

.deleteBtn {
    background-color: #8a60d3;
}

.deleteBtn:hover {
    background-color: var(--accent);
}

.checkbox {
    width: 18px;
    height: 18px;
}

@media (max-width: 768px) {
    table {
        width: 100%;
        overflow-x: auto;
    }
  
    tbody tr td {
        padding: 5px;
        font-size: 12px;
    }
  
    th, td {
        width: 100%; /* Это поможет сделать ячейки более адаптивными */
    }
}
