.light {
    --accent: blueviolet;
    --bg: #f5f5f5;
    --second-bg: #ffffff;
    --text: #363636;
    --second-accent: #3bbf9b;
    --warning-accent: #ff4c4c;
    --form-bg: #eaeaea;
    --form-btn: #d1d1d1;
    --white: #000000;
    --box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
  }